version: "3.9"

services:
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    networks:
      - app-network

  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    depends_on:
      - user-service
    environment:
      - USER_SERVICE_URL=http://user-service:8081
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
